@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 600;
}
 
header{
  padding: 10px;
  background: #03273e;
  height: 50px;

}
.sidenav{
  width:220px;
  background: #ececed;
  box-shadow: 10px 10px 15px 4px rgba(0,0,0,0.4);
  position: absolute;
  padding: 0 30px;
  min-height: 95%;

  left:-100%;
  transition: all 1s;
} 
.sidenav.active{
  left:0;
  position:fixed;
  
}

ul{
  padding:0;
  
}
ul li{
  list-style-type: none;
  margin: 20px 0px;
  padding :15px 13px;
  /* text-align: center; */
  border-radius: 20px;
  align-content: center;
  color:black;
  /* text-decoration: none; */
  font-style: normal;
}
ul li:hover{
  background-color: #6fa1bf;
  transform: scale(1.05);
  transition: all 0.4s;
  cursor: pointer;

}
li svg{
  display: inline;
  margin-right: 10px;
  align-content: center;
  fill: #262f54;
}
header .logo{
  width:40px;
  align-items: center;
  margin: 2px;
  padding: 5px;
}

.icon{
  width: 30px;
  height: 30px;
  margin: 0 13px;
  align-content: center;
}

.headerPart{
  display: flex;
  width:auto;
  padding: 10px  30px;
  justify-content: left;
  align-items: center;
}


header svg{
  font-size: 30px;
}
.cilckprofile{
  width: 200px;
}

.alink{
 text-decoration: none;color: #000;
}

.pagePro{
  color: #000;
}

.menuIcon:hover{
  cursor:pointer;
  /* transition: all 1s ease-in; */
}

.container{
  color:#000;
  background-color: #e0e0e0;
  height :auto;
  padding: 20px;
  margin-top: 7vh;
  margin-left: 40vh;
  margin-right: 5vh;
  max-width:405vh;
  align-content: center;
  border-radius: 20px;
}

.para{
  color: #000;
  font-family: Verdana, sans-serif;
  font-weight: 400;
  text-align: justify;
}

.dashboard{
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:8px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.513);
}
.card{
  padding:40px;
  gap:5px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.card:hover{
  cursor: pointer;
  transform:scale(1.14);
  transition: all 0.4s ease-in;

}

.userWelcome button , h1{
  padding:30px;
  color: #000;
  text-align: center;
}

.conatiners{
    
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  background: #fff;
  padding-bottom: 30px; 
}

.headers{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 9px;
  width: 100%;
  margin-top:30px
}